<h1>Burger Hole</h1>

      <section>
        {{#each burgers}}
          {{#unless this.devoured}}
            <div>
              <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}
      </section>
<br>

<h2>Add A Burger</h2>


  <div>
    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Put a burger in your hole!">
      <button type="submit" class="addBurgerButton">Add The Burger</button>
    </form>
  </div>


<br>

<h2>Burgers Devoured</h2>

      <section>
        {{#each burgers}}
          {{#if this.devoured}}
            <div class='burgerEaten'>
              <div>
                {{this.burger_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </section>